@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&family=Roboto+Slab&display=swap');

.navbar {
    max-width: 1020px;
    margin: auto;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.navbar-dark {
    background-color:#148f77;
}

.navbar-dark .navbar-brand {
    color: whitesmoke;
}
